.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 0px 20px;
  height: 60px;
  color: white;
  z-index: 1 !important;
}
.navbar-logo {
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.nav-links a:hover {
  color: #ffa500;
}
.nav-icon {
  color: white;
  position: relative;
  cursor: pointer;
}
.order-button {
  background-color: #ffa500;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  transition: alll 0.3s;
}
.order-button:hover {
  background-color: #ffa600d2;
}
.mobile-manu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar{
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1;
  }
  
  .mobile-manu-icon{
    display: block;
  }
  .nav-links-mobile a{
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  .nav-icon{
    margin-bottom: 10px;

  }
  .nav-links-mobile a:hover{
    background-color: #333;
  }
  .order-button{
    margin-top: 10px;
  }
}
